.pageStyle{
    font-style : italic;
    font-family: 'Times New Roman', Times, serif;
    padding: 8px 16px;
    text-decoration: none;
    
  }
  
/* .page-item.active .page-link {
    z-index: 3;
    color: rgb(240, 82, 82);
    background-color: #0b0c0c;
    border-color: #000000;
} */



